<div class="center jumbotron">
	<h1>Study Later - This is a APP to save link for future study </h1>
	<% if !logged_in? %>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Loggin now!", login_path, class: "btn btn-lg btn-primary" %>
	<% end %>
</div>

<% if logged_in? %>
<div class="row">
	<div class="col-md-4">
	<%= link_to "See all Links", links_path, class:"btn btn-default btn-lg btn-block btn-huge"%>
	</div>

	<div class="col-md-4">
		<%= link_to "Add Links", add_path, class:"btn btn-default btn-lg btn-block btn-huge"%>
	</div>

	<div class="col-md-4">
	<%= link_to "Search Links", search_path, class:"btn btn-default btn-lg btn-block btn-huge"%>
	</div>
</div>


<% end %>