<div class="center jumbotron">
	<h1>Study later - This is a APP for save link for future reading</h1>

	<% if !logged_in? %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>
</div>

<% if logged_in? %>
	<h1>Search links</h1>

	<%= form_for(:options, url: search_path) do |f| %>
	  <p>
	    <%= f.label :title %><br>
	    <%= f.text_field :title %>
	  </p>

	  <%= f.select :desired_attribute, [@current_user.links.distinct.pluck(:category).uniq], {}, { index: nil } %>

	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>	

	<h1>Add a link to study:</h1>
	<%= render 'links/form' %>
	
	<h1>Links</h1>
	<%= render @current_user.links %>
<% end %>