<%= form_for([@current_user, @current_user.links.build], html: {class: "form-horizontal"}) do |f| %>

    <div class="form-group">
      <%= f.label :link %><br>
      <%= f.text_field :link , class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.select :category_id, category_options_ids, {include_blank: true, class: "form-control"} %>
    <%= link_to "Add new category", category_path %>
    </div>
    

  <div class="form-group ">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <% end %>