<%= form_for([@current_user, @current_user.links.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </p>

 <p>
  <%= f.select :category_id, category_options_ids, include_blank: true %>
 </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
