<hr>
<p>
  <%= image_tag(thumbnail_link(link.id), size: "70x70", alt: "Edit Entry",  class: "menu_icon") %>
  <strong>Title:</strong>
  <%= link.title %>
  <strong>Link:</strong>
  <%= link.link %>


  <strong>Category:</strong>
  <%= category_name(link.category_id) %>

  <%= link_to 'Readed ', [link.user, link],
               method: :delete,
               data: { confirm: 'Are you sure already read?' } %>
</p>